<div class="hero-unit center">
<h1>Keeps your glasses on your face</h1>
<p class="lead">Stop having to push up your glasses when they slip down your nose. You look like a nerd.</p>
<%= link_to "Pre-order now for $7", new_charge_path, :class => 'btn btn-success btn-lg' %>

	<br><br>
	<img src="http://placehold.it/640x385">

</div>


<div class="row marketing center">
	<div class="col-md-3">
		<i class="fa fa-2x fa-medkit"></i>
		<h4>Hypoallergenic material</h4>
		<p>Made from the highest quality plastic, Grippys are hypoallergenic and won't irritate your skin from prolonged wear.</p>
	</div>

	<div class="col-md-3">
		<i class="fa fa-2x fa-clock-o"></i>
		<h4>Apply in Seconds</h4>
		<p>Just peel off the Grippy and stick it on your glasses frame. You'll be able to apply your Grippy in seconds.</p>
	</div>

	<div class="col-md-3">
		<i class="fa fa-2x fa-check-circle-o"></i>
		<h4>Won't damage your frames</h4>
		<p>Your Grippys won't leave any residue or marks on your frames. If you want to remove them, you just peel them off.</p>
	</div>

	<div class="col-md-3">
		<i class="fa fa-2x fa-smile-o"></i>
		<h4>Made in the USA</h4>
		<p>Grippys are manufactured with the highest quality standards in the US.</p>
	</div>
</div>

<div class="row">
	<h2 class="center">Included in the box</h2>
	<div class="col-md-offset-2 col-md-4">
		<h4>Grippy</h4>
	</div>
	<div class="col-md-4">
		<h4></h4>
	</div>
</div>



















